.card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    padding: 15px;
    width: 200px;
    margin-bottom: 15px;
}

.card:hover {
    border: 3px solid #E3E3E3;
}

.card img {
    width: 150px;
    align-self: center;
}

.card h3 {
    text-align: left;
    margin-bottom: 0;
    font-size: 16px;
}

.card .author {
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
}

.card .price {
    font-weight: 700;
    color: #DD4941;
}



/* Media Queries */

@media (max-width: 700px) {
    .card {
        width: 160px;
    }
}