.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    justify-content: space-between;
    margin-top: 50px;
}

.main-container h1 {
    color: #515151;
}



/* Media Queries */

@media (max-width: 700px) {
    .main-container {
        padding: 0 25px;
    }
}