.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register h2 {
    color: #333333;
    margin: 100px 0 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register input, .register button {
    width: 450px;
    height: 40px;
    border: 3px solid #333333;
    margin: 10px 0;
}

.register input {
    padding: 0 25px;
}

.register input:focus {
    outline: none;
}

.register button {
    box-shadow: 3px 3px 0 #333333;
    background-color: white;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

.register button:hover {
    cursor: pointer;
}

.register .sign-up-btn {
    background-color: #796C93;
    color: white;
    margin-top: 70px;
}


/* Media Queries */

@media (max-width: 700px) {
    .register input, .register button, .alert {
        width: 80vw;
    }
}